 .banner-event {
    width: 100%;
    margin-top: -160px;
        position: relative;
         z-index: -1;
}

.banner-event::before  {
  content: "";
  position: absolute;
  inset: 0; /* shorthand for top:0; right:0; bottom:0; left:0; */
  background: #FEEE0E;
background: linear-gradient(45deg, rgba(254, 238, 14, 0.35) 0%, rgba(254, 237, 10, 0) 100%);
  z-index: 1;
  border-radius: 10px; /* optional if you need rounded corners */
}

.event {
 padding: 0px 20px;
}

.event h1 {
    font-size: 60px;
    text-align: center;
    font-family: "PT Serif", serif;
    font-weight: 700;
    margin: 30px auto;
}

.event h4 {
    background: #F2AF29;
    background: linear-gradient(90deg, rgba(242, 175, 41, 1) 0%, rgba(255, 250, 170, 1) 100%);
    text-decoration: none;
    color: #000;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    padding: 0px 30px;
    border-radius: 52px;
    font-family: "PT Serif", serif;
    font-weight: 700;
    padding: 10px 0px;
    display: block;
    max-width: 340px;
    margin: auto;

}

.event p {
       font-size: 25px;
       line-height: 1.6;
       font-weight: 400;
       padding: 0px 10px;
       font-weight: normal;
         font-family: "PT Sans", sans-serif;
}

.events {
    margin: 20px 20px;
}


.events h4 {
    background: #F2AF29;
    background: linear-gradient(90deg, rgba(242, 175, 41, 1) 0%, rgba(255, 250, 170, 1) 100%);
    text-decoration: none;
    color: #000;
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
    padding: 0px 30px;
    border-radius: 52px;
    font-family: "PT Serif", serif;
    font-weight: 700;
    padding: 10px 0px;
    display: block;
    max-width: 340px;

}

.view-more {
    text-align: right;
    font-size: 25px;
    color: #000;
}

.view-more a {
    text-decoration: none;
    color: #000;
    border-bottom: solid 4px #F2AF29;
}

 

.events .event-img {
  position: relative;
  display: inline-block;
}

.events .event-img::before {
  content: "";
  position: absolute;
  inset: 0; /* shorthand for top:0; right:0; bottom:0; left:0; */
 background: #FEEE0E;
background: linear-gradient(150deg, rgba(254, 238, 14, 0.20) 0%, rgba(242, 175, 41, 0) 100%);
  z-index: 1;
  border-radius: 10px; /* optional if you need rounded corners */
}

.events .event-img img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
}


.event-content {
 margin: 10px auto;
 padding: 0px 10px;
}

.event-content h5 {
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    margin: 25px 0;
}

.event-content .details {
    font-size: 20px;
    color: #616055;
    font-weight: 400;
}
.event-content .details .date p {
       font-size: 20px;
       font-weight: 700;
}
.event-content .details .time p {
       font-size: 20px;
}

.event-content .details .location p {
    font-size: 20px;
}

.event-content .details .date p img, .event-content .details .location p img, .event-content .details .time p img {
    width: 20px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}
  
 

.header .navbar-nav .active {
    font-weight: 700; 
     position: relative;
    display: inline-block;
    padding-bottom: 10px;
    top: 0px;
}



.events .event-img {
  position: relative;
  display: inline-block;
}

.events .event-img::before {
  content: "";
  position: absolute;
  inset: 0; /* shorthand for top:0; right:0; bottom:0; left:0; */
 background: #FEEE0E;
background: linear-gradient(150deg, rgba(254, 238, 14, 0.40) 0%, rgba(242, 175, 41, 0) 100%);
  z-index: 1;
  border-radius: 10px; /* optional if you need rounded corners */
}

.events .event-img img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
}

.event-img {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.event-img img {
  width: 100%;
  display: block;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

/* Hover zoom effect */
.event-img:hover img {
  transform: scale(1.05);
}

/* Overlay */
.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(87,87,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  border-radius: 10px;
}

/* Show overlay on hover */
.event-img:hover .hover-overlay {
  opacity: 1;
    background: rgba(87,87,21,0.6);
  visibility: visible;
}

/* View More button */
.view-more {
  color: #fff;
  background: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.view-more:hover {
  background:none;
}



.event-content {
 margin: 10px auto;
 padding: 0px 10px;
}

.event-content h5 {
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    margin: 25px 0;
}

.event-content .details {
    font-size: 20px;
    color: #616055;
    font-weight: 400;
}
.event-content .details .date p {
       font-size: 20px;
       font-weight: 700;
}
.event-content .details .time p {
       font-size: 20px;
}

.event-content .details .location p {
    font-size: 20px;
}

.event-content .details .date p img, .event-content .details .location p img, .event-content .details .time p img {
    width: 20px;
    height: auto;
    margin-right: 10px;
    margin-bottom: 10px;
}